<section class='col-md-4 mx-auto'>
  <h1>{{#if editMode}}Edit {{else}} Create {{/if}} Category</h1>
  
  <form action="{{#if editMode}}/admin/categories/edit-Category{{else}}/admin/categories/create-Categories{{/if}}" method='post'>
    <div class='input-group mb-2'>
      <span class='input-group-text'>Name</span>
      <input
        type='text'
        class='form-control'
        placeholder='Category Name'
        id='name'
        name='Name'
        value='{{#if editMode}}{{category.Name}}{{/if}}'
      />
    </div>
    <div class='input-group mb-2'>
      <span class='input-group-text'>Description</span>
      <input
        type='text'
        class='form-control'
        placeholder='Category Description'
        id='description'
        name='Description'
        value='{{#if editMode}}{{category.Description}}{{/if}}'
      />
    </div>
    <div>
      {{#if editMode}}
        <input
          type='hidden'
          id='authorId'
          name='CategoryId'
          value='{{category.id}}'
        />
      {{/if}}
      <button id='getCategory' class='btn btn-dark float-end' type='submit'>
        <input type='hidden' id='authorCreate' name='CategoryCreate'/>
        {{#if editMode}}Edit{{else}}Create{{/if}}
        Category</button>
      <a class='btn btn-large btn-dark py-sm-2' href='/admin/categories'>
        back</a>
    </div>
  </form>
</section>