<section class='row'>
  <div>
    <h1 class='float-start'>Editing Authors</h1>
    <a
      class='btn btn-primary float-end'
      href='/admin/authors/create-Authors'
    >Create Author
      <i class='bi bi-plus-circle'></i></a>
  </div>
  {{#if hasAuthors}}

    {{#each authors as |author|}}
      <div class='card mb-3 col ms-2 px-0' style='max-width: 540px;'>
        <div class='row g-0 '>
          <div class='col-md-4'>
            <img
              src='{{author.Image}}'
              class='img-fluid rounded-start imageResponsive'
              alt='{{author.Name}}'
            />
          </div>
          <div class='col-md-8 mb-2'>
            <div class='card-body'>
              <h5 class='card-title'>{{author.Name}}</h5>
              <p class='card-text'>{{author.Email}}</p>
              <form action='/edit/Book' method='POST'>
                <a
                  class='btn btn-info float-start'
                  href='/admin/authors/edit/{{author.id}}?edit=true'
                >Edit</a>
              </form>
              <form action='/admin/authors/delete' method='post'>
                <input
                  type='hidden'
                  name='AuthorId'
                  value='{{author.id}}'
                  id='authorId'
                />
                <input
                  type='hidden'
                  name='AuthorEmail'
                  value='{{author.Email}}'
                  id='authorId'
                />
                <input
                  type='hidden'
                  name='AuthorName'
                  value='{{author.Name}}'
                  id='authorId'
                />
                <button
                  id='deleteAuthors'
                  class='btn btn-danger float-end'
                  type='submit'
                  onclick="return confirm('Are you sure you want to delete this author?');"
                >Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  {{else}}
    <div class='alert alert-danger mx-6' role='alert'>
      <i class='bi bi-exclamation-triangle-fill'></i>
      You need to create this item first
    </div>
    <a class='btn btn-dark' href='/admin/authors/create-Authors'>Create Authors</a>

  {{/if}}
</section>