<section>
  <h1>Editorial Shop</h1>

  {{#if hasEditorials}}
    {{#each editorials as |editorial|}}
      <div class='card mb-3' style='max-width: 25rem;'>
        <div class='row g-0'>
          <div class='col-md-4'>
            <img
              src='{{editorial.Image}}'
              class='img-fluid rounded-start'
              alt='{{editorial.Name}}'
            />
          </div>
          <div class='col-md-8'>
            <div class='card-body'>
              <h5 class='card-title'>{{editorial.Name}}</h5>
              <h6 class='card-text'>{{editorial.Country}}</h6>
              <p class='card-text'>{{editorial.Phone}}</p>
            </div>
          </div>
        </div>
      </div>

    {{/each}}
  {{else}}
    <div class='alert alert-danger mx-6' role='alert'>
      <i class='bi bi-exclamation-triangle-fill'></i>
      You need to create this item first
    </div>
    <a class='btn btn-dark' href='/admin/editorials/create-Editorials'>Create
      Editorial</a>
  {{/if}}

</section>