<section class='row'>
  <div>
    <h1 class='float-start'>Editing Editorial</h1>
    <a
      class='btn btn-primary float-end'
      href='/admin/authors/create-Authors'
    >Create Editorial
      <i class='bi bi-plus-circle'></i></a>
  </div>
  {{#if hasEditorials}}
    {{#each editorials as |editorial|}}
      <div
        class='card mb-3 col ms-2 px-0 mx-auto'
        style='min-width: 22rem; max-width: 22rem;'
      >
        <div class='row g-0'>
          <div class='col-md-4'>
            <img
              loading='lazy'
              src='{{editorial.Image}}'
              class='img-fluid rounded-start imageResponsive'
              alt='{{editorial.Name}}'
            />
          </div>
          <div class='col-md-8 py-0 pb-1'>
            <div class='card-body px-2 py-2'>
              <h5 class='card-title mb-0'><strong>Name:
                </strong>{{editorial.Name}}</h5>
              <p class='card-text'>{{editorial.Country}}</p>
              <div class='form'>
                <form action='/edit/Editorial' method='POST'>
                  <a
                    class='btn btn-info float-start'
                    href='/admin/editorials/edit/{{editorial.id}}?edit=true'
                  >Edit</a>
                </form>
                <form action='/admin/editorials/delete' method='post'>
                  <input
                    type='hidden'
                    name='EditorialId'
                    value='{{editorial.id}}'
                    id='editorialId'
                  />
                  <button
                    id='deleteEditorials'
                    class='btn btn-danger float-end'
                    type='submit'
                    onclick="return confirm('Are you sure you want to delete this editorial?');"
                  >Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class='alert alert-danger mx-6' role='alert'>
      <i class='bi bi-exclamation-triangle-fill'></i>
      You need to create this item first
    </div>
    <a class='btn btn-dark' href='/admin/editorials/create-Editorials'>Create
      Editorial</a>
  {{/if}}
</section>